* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: absolute;
    width: 350px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: white;
}

.header {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    background-color: black;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}