* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#password {
    width: 350px;
    padding: 15px;
    font-size: 1.5rem;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 5px;
}

#password:focus {
    outline: none;
}