* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.qr-container {
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    background-color: white;
}

h2 {
  text-align: center;
  margin-bottom: 10px;  
}

#qr-input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
}

#qr-button {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    background-color: #2ecc71;
    color: white;
    margin-bottom: 10px;
}

#qr-img {
    display: block;
    width: 50%;
    margin: 0 auto;

}