* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.score {
    text-align: right;
    padding: 5px;
    color: blue;
    font-size: 1.2rem;
    font-weight: bold;
}

.question {
    font-size: 1.75rem;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

button {
    width: 90%;
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}