* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    height: 145px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

.square {
    width: 16px;
    height: 16px;
    /* background-color: lightgreen; */
    margin: 2px;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
    border: 1px solid #E9E9E9;
}