* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border-radius: 15px;
    width: 375px;
    height: 500px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.result {
    width: 100%;
    font-size: 4rem;
    border: none;
    background-color: white;
    text-align: right;
    font-weight: bold;
    padding: 20px;
    outline: none;
    border-radius: 15px;
}

button {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 10px 10px 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
}

button:hover{
    background-color: #e6e6e6;
}
.row {
    text-align: center;
}