* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent {
    position: relative;
    width: 100px;
    height: 100px;
}

.tri1 {
    position: absolute;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-right: 50px solid white;   
    top:0;
    left:0;
    animation:triangle1 2s infinite linear 3s;
}

.tri2{
    position: absolute;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-left: 50px solid white;   
    bottom:0;
    right:0;
    /* transform: rotate(90deg); */
    animation:triangle2 2s infinite linear 5s;
}

@keyframes triangle1 {
    0%,25%{
        transform: rotate(0deg);
    }    
    50%,75%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes triangle2 {
    0%,25%{
        transform: rotate(0deg);
    }    
    50%,75%{
        transform: rotate(1800deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}