* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    width: 550px;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: -60px;
    margin-bottom: 30px;
}

.testimonials{
    margin-bottom: 10px;
}

.author {
    margin-bottom: 20px;
}