* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-password {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
    text-align: center;
    width: 350px;
    background-color: white;
}

.header {
    background-color: blue;
    color: white;
    padding: 15px;
    /* margin-bottom: 10px; */
}

.display {
    margin-bottom: 5px;
    position: relative;
}

#pass-input {
    width: 75%; 
    border:none;
    outline: none;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
}

#copy {
    position: absolute;
    top: 15px;
    right: 30px;
    background-color: blue;
    color: white;
    border: none;
    font-size: 1.2rem;
    width: 20%;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}

.setting {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 7.5px 15px; 
    font-size: large;
    font-weight: bold;
}

#generate {
    display: block;
    width: 100%;
    padding: 7.5px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}