* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #333333;
    text-align: center;
    padding: 20px;
}

.header h1 {
    color: white;
    font-size: 40px;
}

.search-bar {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

input {
    width: 50%;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
}

button {
    padding: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 18px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 200px;
    height: 200px;
    margin: 10px;
}