* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 350px;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

.header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

button {
    width: 150px;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    border: none;
}